<div class="toolbox-edit-overlay">

    <div class="t-row">
        <label>{{ 'redirect after successful login'|trans({}, 'admin') }}</label>
        {{ pimcore_href('redirectAfterSuccess', {
            'types'    : ['document'],
            'subtypes' : {
                'document' : ['page', 'link', 'hardlink']
            }
        }) }}

    </div>

    <div class="t-row">
        <label>{{ 'Hide when logged in'|trans({}, 'admin') }}</label>
        {{ pimcore_checkbox('hideWhenLoggedIn') }}
    </div>

    {% if pimcore_checkbox('hideWhenLoggedIn').getData() is empty %}

        <div class="t-row">
            <label>{{ 'Show this snippet when logged in'|trans({}, 'admin') }}</label>
            {{ pimcore_href('showSnippedWhenLoggedIn', {
                'types' : ['document'],
                'subtypes' : {
                    'document' : ['snippet']
                }
            }) }}
        </div>

    {% endif %}

</div>